.container
	if showFavourites
		.row
			.col-lg-12
				h1 Favourites
					small
						| &nbsp;
						#modes.btn-group
							a.btn.btn-primary(href='/') Show all
				hr
	else
		.row
			.col-lg-10
				h1= categories[collection.category]
					small
						| &nbsp;
						#modes.btn-group
							a.btn.btn-primary(href='/favourites') Show only favourites
				hr
			.col-md-2

					h4 Category:
					select.form-control#category
						each val, key in categories
							option(value=key, selected=key === collection.category)= val

	.row
		.col-md-12.text-center
			if showFavourites && !favourites.length
				.well
					h2 no photos to display..
			else if photo
				.display
				h5 Photo ##{photo.get('number')} from #{categories[photo.get('category')]}
			else
				.well
					img.loading(src='/images/loading.gif')

	if !showFavourites || favourites.length
		.row
			.col-lg-12.text-center
				ul.pagination.pagination-lg
						li(class=collection.hasPrev() ? '' : 'disabled'): a.prev(href='#') &laquo;
						li: a(href='#', class=user.isFavourite(photo) ? 'js-favourite' : '').favourite
							i.glyphicon.glyphicon-heart
						li(class=collection.hasNext() ? '' : 'disabled'): a.next(href='#') &raquo;